{% extends "layout.html" %}
{% block content %}

    <h1>{{title}}</h1>
    <form action="" method="post" novalidate >
{#        {{ data.hidden_tag() }}#}

        <h1>Showing queries for the user: {{ current_user.get_id() }}</h1>

    {% if data %}
        <p id="numqueries"> Number of queries: {{ data | length }}
        </p>
            <ul>
        {% for n in range(data | length) %}
        <li id="query{{ n + 1 }}">{{data[n]}} <a href="history/query{{ n + 1  }}">click</a></li>
        {% endfor %}
            </ul>
    {% else %}
        <p id="numqueries"> No History to Show
        </p>
    {%  endif %}
    </form>

{% endblock %}
